<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="server" type="NodeJSConfigurationType" factoryName="Node.js" path-to-node="$USER_HOME$/Logiciel/node-v0.10.26-darwin-x64/bin/node" path-to-js-file="server.js" working-dir="$PROJECT_DIR$">
    <envs>
      <env name="DEBUG" value="my-application" />
    </envs>
    <browser url="http://localhost:3000/" />
    <RunnerSettings RunnerId="Basic" />
    <RunnerSettings RunnerId="NodeJS.debug" />
    <RunnerSettings RunnerId="NodeJS.run" />
    <ConfigurationWrapper RunnerId="Basic" />
    <ConfigurationWrapper RunnerId="NodeJS.debug" />
    <ConfigurationWrapper RunnerId="NodeJS.run" />
    <method />
  </configuration>
</component>